**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/env/
**/venv/
**/*.egg-info/
**/dist/
**/build/
**/*.pytest_cache/


**/bin/
**/*.exe
**/*.test
**/vendor/

**/target/
**/*.rs.bk


**/*.log
**/*.env
**/docker-compose.override.yml
**/*.tar
**/*.swp


**/.vscode/
**/.idea/
**/*.sublime-project
**/*.sublime-workspace
**/*.DS_Store
**/*.iml


**/Thumbs.db
**/.DS_Store
**/desktop.ini